:root {
    --Cafe: rgb(167, 146, 119);
    --Grey: rgb(180, 180, 184);
    --Greylight: rgb(199, 200, 204);
    --Beige: rgb(227, 225, 217);
    --color1:rgb(167, 146, 119);
    --color2:rgb(209, 187, 158);
    --color3:rgb(234, 216, 192);
    --color4:rgb(255, 242, 225);
}

/* Globales */


html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

/** Scroll Snap**/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
    background-color: var(--color4);
}

body {
    font-size: 16px;
    font-family: 'Krub',sans-serif;
    background-image: linear-gradient(to top,var(#757575) 0%, var(white) 100%);
}

.contenedor {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color3);
    border-radius: 8px;
    color: white;
}

.boton {
    background-color: var(--Cafe);
    color: var(--Beige);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media(min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}
/* https://cssgenerator.org/box-shadow-css-generator.html */
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(white);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
    color: black;
}
.head-2 {
    font-size: 2.8rem;
    color: var(--Cafe);
}
h3 {
    font-size: 1.8rem;
    color: #848884 !important;
}
h1,h2,h3 {
    text-align: center;
}


/* Titulos */
.titulo span {
    font-size: 2rem;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion Principal */
.nav-bg {
    background-color: var(--Grey);    
}
.nav-bg a {
    color: white;
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

a {
    text-decoration: none;
  }
  
a:hover h1, a:hover h1 span {
    background-color: var(--color4);
    color: var(--Cafe);
  }

/* Hero */
.hero {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
   /*  background-color: rgba( 0,0,0, .7 ); */ /** Anterior **/
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, 
.contenido-hero p {
    color: var(white);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.encabezado{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 60rem;
    margin: 3rem auto;
    align-items: center;
    background-color: var(--moradooscuro);
    padding: 2rem;
    border-radius: 8px;
}
.ubicacion {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos */
    align-items: center; /* Centramos los elementos */
}

.head-2 iframe{
    display: block;
    block-size: 10px;
}

.telefono {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos */
    align-items: center; /* Centramos los elementos */
}

.correo {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos */
    align-items: center; /* Centramos los elementos */
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--Beige);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--Greylight);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/
.formulario {
    background-color: var(--Grey);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(---Grey);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(white);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

footer {
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    color: var(--Cafe);
    font-weight: 700;
  }